.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    text-transform: uppercase;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #ff5733 !important;
  }